apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: previews
nameSuffix: -cf99d23

resources:
  - web-deployment.yaml
  - upload-service-deployment.yaml
  - processor-service-deployment.yaml
  - ai-analyzer-service-deployment.yaml
  - virtualservice.yaml

replicas:
  - name: web
    count: 1
  - name: upload-service
    count: 1
  - name: processor-service
    count: 1
  - name: ai-analyzer-service
    count: 1

images:
  - name: ibdevacrpuj79a.azurecr.io/web
    newTag: preview-cf99d23
  - name: ibdevacrpuj79a.azurecr.io/upload-service
    newTag: preview-cf99d23
  - name: ibdevacrpuj79a.azurecr.io/processor-service
    newTag: preview-cf99d23
  - name: ibdevacrpuj79a.azurecr.io/ai-analyzer-service
    newTag: preview-cf99d23
