apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - upload-service-deployment.yaml
  - processor-service-deployment.yaml
  - ai-analyzer-service-deployment.yaml
  - web-deployment.yaml
