apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flux-system

resources:
  - namespace.yaml
  - azure-credentials-sealed.yaml
  - terraform-dev.yaml
  # NOTE: This references the GitRepository 'interview-buddy' from manifests/flux/
