apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: interview-buddy-dev
  namespace: flux-system
spec:
  interval: 5m
  path: ./manifests/dev
  prune: true
  sourceRef:
    kind: GitRepository
    name: interview-buddy
  targetNamespace: dev
