apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${PREVIEW_NAMESPACE}
nameSuffix: -${PREVIEW_NAME}

resources:
  - web-deployment.yaml
  - upload-service-deployment.yaml
  - processor-service-deployment.yaml
  - ai-analyzer-service-deployment.yaml
  - virtualservice.yaml

replicas:
  - name: web
    count: 1
  - name: upload-service
    count: 1
  - name: processor-service
    count: 1
  - name: ai-analyzer-service
    count: 1

images:
  - name: ${ACR_LOGIN_SERVER}/web
    newTag: ${IMAGE_TAG}
  - name: ${ACR_LOGIN_SERVER}/upload-service
    newTag: ${IMAGE_TAG}
  - name: ${ACR_LOGIN_SERVER}/processor-service
    newTag: ${IMAGE_TAG}
  - name: ${ACR_LOGIN_SERVER}/ai-analyzer-service
    newTag: ${IMAGE_TAG}
